nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  background: #FAFAFA;
  height: 50px;
}

.menu {
  display: flex;
  margin: 0;
  flex: 0 0 33%;
  justify-content: space-between;
}

.menu > li {
  display: block;
  color: #666666;
  width: 100%;
  text-align: center;
  margin: auto;
  position: relative;
  height: 100%;
  line-height: 50px;
}

.menu > li:hover {
  color: #000000;
}

.menu > li > * {
  color: inherit;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  background: inherit;
  font: inherit;
  line-height: 50px;
}

.menu > li > .active {
  font-weight: bold;
}

.menu.menu--sub {
  position: absolute;
  padding: 0;
}

.menu.menu--sub::before {
  content: '';
  position: absolute;
  top: -45%;
  right: 15px;
  height: 0px;
  border: 5px solid transparent;
  border-top: 8px solid #666;
  width: 0px;
  transform: translateY(-50%);
}

li:hover .menu.menu--sub::before {
  transform: translateY(-100%) scaleY(-1);
}

.menu.menu--sub > li {
  display: none;
}

li:hover .menu.menu--sub > li {
  display: block;
}

.menu.menu--sub > li > * {
  background-color: #FAFAFA;
  border: 1px solid #CDCDCD;
}

section {
  width: 80%;
  margin: 10px auto;
}

.firm-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.firm {
  flex: 0 1 45%;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  background: #fafafa;
  height: 100px;
  margin-bottom: 40px;
}

.firm-head {
  padding: 10px;
  font-weight: bold;
  background: #AFA;
  border-bottom: 1px solid #dcdcdc;
}

.firm-price {
  font-size: .8em;
  font-weight: normal;
  padding-left: 20px;
}

.firm-amount {
  font-size: .8em;
  font-weight: normal;
  float: right;
  transform: translateY(2px);
}